@import url(style.css);

.screen{
	margin-top: 2.5rem;
	height: 35rem;
}

.heart-box{
	margin-top: 3rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.heart{
	margin: 5px;
	color: red;
	font-size: 3rem;
}


#mid{
	display: flex;
	align-content: center;
}

button{
	padding: 12px 50px;
	color: white !important;
	background: var(--mainColor) none repeat scroll 0% 0%;
	text-decoration: none !important;
	display: inline-block;
	border: medium none;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

button:hover, button:focus, button:active{
	background-color: var(--offColor);
}

.button-box {
	margin-left: calc(50% - 175px);
	align-self: center;
	max-width: 350px;
	height: 350px;
	display: flex;                       /* establish flex container */
	flex-wrap: wrap;                     /* enable flex items to wrap */
	justify-content: space-around;
}

.sound-button {
	border-radius: 12%;
	flex: 0 0 32%;
	margin: 2px;
}

canvas{
	outline-color: orange;
}