:root{
	--wid: 100px;
	--hei: 100px;
}

#myselect{
	width: 500px;
	height: 30px;
}

#frame{
	border: 0px;
	border-color: rgb(0, 0, 0);
	width: 350px;
	height: 350px;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.butt{
	width: var(--wid);
	height: var(--wid);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0px;
	margin: 2px;
}
